/* Accessibilty */

a:focus {
    outline:3px solid #ACC6C9;  
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -3em;
    z-index: 100;
}

.skip-links a:focus {
	position: absolute;
	top: 0em;
}

/* Nav Styles */
.nav-bar {
}

.nav-t-item {
    text-decoration: none;
    color: #58595B;
    background-color: none;
    list-style-type: none;
     -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.nav-t-item:hover {
    color: #BCBEC0;
}

.nav-t {
    list-style: none;
    display:;
}

/* Social Media styles */
.social {
    max-width: 90px;
    text-align: center;
    display: inline-block;
}

.social-push {
    padding-left: calc(50% - 180px);
}

.st1 {
    fill: #58595B;
    -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.st1:hover {
    fill: #BCBEC0;
}

.email {
    text-decoration: none;
    color: #58595B;
    -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.email:hover {
    color: #BCBEC0;
}

/* colour blocking */

.cb-footer {
    background-color:white; 
    color: #58595B;
}

/*small*/@media only screen and (min-width: 25em) {
    

}

/*medium*/@media only screen and (min-width: 38em) {
      

}

/*large*/@media only screen and (min-width: 60em) {
  
}

/*
white
light grey = #BCBEC0
dark grey = #58595B
black = #000000
*/

/*
Brand Colours
white
pale blue = #ACC6C9
dark grey blue = #333E48
black = #232222
*/
