/* Accessibilty */

a:focus {
    outline:3px solid #58595B;  
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -3em;
    z-index: 100;
}

.skip-links a:focus {
	position: absolute;
	top: 0em;
}

/* Banner */ 

.banner {
    height: 35em;
    background-color: rgba(8, 38, 44, 1);
}

.wordmark {
    color: white;
    padding-top: 5em;
    width: 50%;
}

.arrow {
    width: 40px;
    fill:#58595B;
    opacity: 1;
    fill:#58595B;
    display: block;
    position: absolute;
    left: calc(50% - 20px);
}

.arrow:hover {
    fill:#BCBEC0;
}


.st0{
    fill:none;
    stroke:black;
    stroke-width:40;
    -webkit-transition: all 200ms ease-out; 
    transition: all 600ms ease-out;
}

.st0:hover {
    fill:none;
    stroke:#BCBEC0;
    stroke-width:40;
}

/* Nav Styles */
.only-sm {
    display: block;  
} 
    
.only-m-l {
    display: none;  
}

.toggle-label {
    cursor: pointer;
}

.toggle {
    padding-top: 1em;
    padding-left: 1em;
    display: block;
    opacity: 1;
}

.toggle:hover {
    opacity: .7;
}

.toggle-check {
    position: absolute;
    top: -3em;
    display: block;
}

.toggle-check:checked ~ .toggle-menu {
    display: block;
    margin:15px 0 0 0em;
}

.nav-bar {
    background-color:rgba(184, 208, 206, .5);
    height: 65px;
    box-shadow: 0px 0px 1px 2px rgba(35, 31, 32, 1);
    margin: 0px;
}

.nav-bar-s {
    background-color:rgba(184, 208, 206, .5);
    height: 65px;
    box-shadow: 0px 0px 1px 2px rgba(35, 31, 32, 0.18);
    margin: 0;
    padding: 0;
}

.toggle-menu {
    padding: .5em 0 1.5em 0;
    margin: 0px;
    box-shadow: 0px 0px 2px 0px rgba(35, 31, 32, 0.18);
    background-color:rgba(184, 208, 206, 1);
    display: none;
}

.nav-t-item {
    display: block;
    text-decoration: none;
    color: #58595B;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
     -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.nav-t-item:hover {
    color: #BCBEC0;
}

.nav-t2-item {
    display: block;
    padding: .5em 0em .5em 0;
    margin:;
    text-decoration: none;
    color: #58595B;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
     -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.nav-t2-item:hover {
    color: #BCBEC0;
}

.nav-t {
    list-style: none;
    display:;
}

.nav-push {
    padding-right: calc(50% - 155px);
}

/* Intro Styles */

.intro {
    background-color: #BCBEC0;
    padding: 6em 2em;
}

/* Portfolio Styles */

.portfolio {
    background-color: rgba(188, 190, 192, 0.3);
    padding: 8em 0em 0em;
    color: #58595B;
}

.img-hover {
    padding: 0;
    margin: 0;
    opacity: 1;
}

.img-hover:hover {
    opacity: .7;
}

/* portfolio pop up 
.pop-up {
    display: none;
}

.pop-up:target {
    display: block;
}

*/

/* Bio Styles */

.bio {
    background-color: #BCBEC0;
    padding: 6em 2em;
    height:19em;
}

.bio-img {
    height:19em;
    background-image: url(../artwork/notch-h.svg);
    background-size: 2.5em, 18em;
    background-position: top center, center;
    background-repeat: no-repeat;
}

/* Social Media styles */
.social {
    width:50px;
    padding: 0 .25em 0 .25em;
    text-align: center;
    display: inline-block;
}

.social-push {
    padding-left: calc(10% + 33px);
}  

.st1 {
    fill: #58595B;
    -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.st1:hover {
    fill: #BCBEC0;
}

.email {
    font-size: .8em;
    text-decoration: none;
    color: #58595B;
    -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
}

.email:hover {
    color: #BCBEC0;
}

.cb-footer {
    background-color: rgba(188, 190, 192, 0.5); 
    color: #58595B;
}

/* PROJECT STYLES */

.p-main-img {
    height: 25em;
    background-color: #58595B; 
    background-image: url(../artwork/notch-h-b.svg);
    background-position: bottom center;
    background-size: 2em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.p-text-blurb {
    padding: 0em 1.3em 3em 1.3em;
}

.p-overview {
    background-color:#D3D3D3;
    padding: 2em;
    margin: 0;
}

/* Project Nav */

.p-nav-push {
    padding-right: calc(50% - 70px); 
}

.p-nav-bar {
    background-color:rgba(188, 190, 192, .4);
    height: 75px;
    box-shadow: 0px 2px 20px rgba(35, 31, 32, 0.1);  
}

.close {
    height: 58px;
    fill:#58595B;
    position: absolute;
    top: 10px;
    left: calc(50% - 25px);
    opacity: 1;
}

.close:hover {
    opacity: .5;   
}

.previous {
    height: 58px;
    fill:#58595B;
    position: absolute;
    top: 10px;
    left: calc(5% - 10px);
    opacity: 1;
}

.previous:hover {
    opacity: .5;
}

.next {
    height: 58px;
    fill:#58595B;
    position: absolute;
    top: 10px;
    right: calc(5% - 10px);
    opacity: 1;
}

.next:hover {
    opacity: .5;
}

/* PROJECT STYLES END */


/*ios vh page support feature */ 
@supports(min-height:100vh) {
.banner {
    min-height: 80vh;
    }
}

/*before small but not quite extra small, only here so that the e-mail doesn’t make an ugly white bar on unrealistically tiny screens*/@media only screen and (min-width: 22em) {

.email {
    font-size: 1em;    
    
}
    
.social {
    width:80px;
    padding: 0 1em 0 1em;
    text-align: center;
    display: inline-block;
}

.social-push {
    padding-left: calc(50% - 150px);
}    
    

/*small*/@media only screen and (min-width: 25em) {

/*medium*/@media only screen and (min-width: 38em) {
.only-sm {
    display: none;  
} 
    
.only-m-l {
    display: block;  
} 
    
.bio-img {
    background-image: url(../artwork/notch.svg);
    background-size: 1.5em;
    background-position: center left;
    background-repeat: no-repeat;
}     
    
.p-text-blurb {
    padding: 2.5em .5em 0em;
}

.bio {
    background-color: #BCBEC0;
    padding: 2em 2em;
    height:19em;
}    
    
}

/*large*/@media only screen and (min-width: 75em) {

.wordmark {
    width: 30%;
}
    
.intro {
    background-color: #BCBEC0;
    padding: 10em 16em;
}
    
.p-text-blurb {
    padding: 0em 1.3em 3em 1.3em;
}
    
.bio {
    background-color: #BCBEC0;
    padding: 5em 2em;
    height:19em;
}     
  
/*Projects*/    
    
.p-main-img {
    height: 40em;
}

.p-overview {
    padding: 2em 10em 2em 10em;
}    
    
/*
white
light grey = #BCBEC0
dark grey = #58595B
black = #000000
*/

/*
Brand Colours
white =#FFFFFF
med grey blue = #7EA8AD
rgba(126, 168, 173)
pale grey blue = #B8CED0
rgba(184, 208, 206)
dark grey blue = #333E48
rgba(51, 62, 72,)
navy = #08262C
rgba(8, 38, 44,)
*/
