/* Accessibilty */

.bkg {
    background-image: url(../../artwork/crapSample.svg);
    height: 20em;
    background-size: 100%; 
}

svg:not(:root) {
  overflow: hidden;
}

a:focus {
    outline:3px solid #58595B;  
}

.name {
    font-size: 30em;
    line-height: 0px;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -3em;
    z-index: 100;
}

.skip-links a:focus {
	position: absolute;
	top: 0em;
}

/* Banner */ 
.center-portfolio {
    
}

.max-width {
    
    display: inline-block;
 
}

.copyrights {
    opacity: .65;
}

.banner {
    height: 24em;
    background-image: url(../artwork/pattern.svg);
    background-size: 30%;
    background-position: center center;
    background-color: #071C2C;
    
}

.wordmark {
    fill: white;
    margin: 3em 0em 0em 0em;
    width: 7em;
    padding: 0;
    overflow: visible;
     -webkit-transition: all 300ms ease-out; 
    transition: all 250ms ease-out;
}

.no-deco {
    text-decoration: none;
}

.arrow {
    text-decoration: none;
    color: #DBD9D6;
    font-size: 2.5em;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    border-radius: 100%;  
}


.arrow:hover,
.arrow:active,
.arrow:focus {
    color: #C86C61;
  
}


.st0{
    fill:none;
    stroke:black;
    stroke-width:40;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.st0:hover {
    fill:none;
    stroke:#BCBEC0;
    stroke-width:40;
}

/* Nav Styles */
.only-sm {
    display: block;  
} 
    
.only-m-l {
    display: none;  
}

.toggle-label {
    cursor: pointer;
}

.toggle {
    padding-top: .1em;
    padding-left: .113em;
    padding-bottom: .1em;
    display: block;
    font-size: 2.25em;
    opacity: 1;
     -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.toggle i {
    color: #888888;
    font-size: .75em;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 0px;
    border-radius: 100%;
     -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.toggle i:hover,
.toggle i:active,
.toggle i:focus{
    color:#C86C61;
}

.toggle-check {
    position: absolute;
    top: -3em;
    display: block;
}

.toggle-menu {
    overflow: hidden;
    margin: 0px;
    padding: 0;
    box-shadow: 0px 0px 2px 0px rgba(35, 31, 32, 0.18);
    background-color:rgba(219, 217, 214, 0.2);
    position: relative;
    z-index: 1000;
    max-height: 0em;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.toggle-check:checked ~ .toggle-menu {
    max-height: 10em;
}

.nav-bar {
     box-shadow:0px 0px 5px 0px rgba(128,128,128, .4);
    background-color:rgba(219, 217, 214, 0.25);
    margin: 0px;
    padding-bottom: 1em;
}

.nav-bar-s {
    background-color:rgba(219, 217, 214, 0.25);
     box-shadow:0px 0px 5px 0px rgba(128,128,128, .4);
    margin: 0;
    padding: 0;
}

.nav-t-item {
    display: block;
    text-decoration: none;
    color:#6D6E71;
    list-style-type: none;
    margin: 0;
    font-size: 0.8889rem;
    line-height: 1.4625;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    text-transform: uppercase;
     -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.nav-t-item:hover {
    color: white;
    background-color: #C86C61;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100px;
}


.nav-t2-item {
    display: block;
    padding: 1em 0em 1em 0;
    text-decoration: none;
    color: #111820;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
     -webkit-transition: all 250ms ease-out; 
    transition: all 250ms ease-out;
}

.nav-t2-item:hover {
    padding: 1.25em 0em 1.25em 0;
    color: #111820;
    font-weight: 400;
    background-color: #B8CED0;
}

.nav-t {
    list-style: none;
    display:;
}

/* Intro Styles */

.intro {
    color: #111820;
    padding: 2em;
}

.header {
    line-height: 1.5em;
}

/* 404 */

.nav-t-item-404 {
    color: #111820;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.nav-t-item-404:hover {
    color: #C86C61;
}

.fourofourblurb {
    color: #111820;
    padding: 12em 2em;
    background-color: background-color:rgba(219, 217, 214, .25);
}

.border {
    border: 1px solid #CCCCCC;
}

/* Portfolio Styles */

.portfolio {
    padding-top: 6em;
    color: rgba(8, 38, 44, 1);
    fill:#B8CED0;
}

.img-hover {
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.img-hover:hover {
    opacity: .75;
}

.piece{
    padding:1.13em;
}

.piece-wrap{
    padding-bottom: 6em;
}

.caption{
    font-weight: 100;
    margin-top: .25em;
    opacity: .6;
}

/* portfolio pop up 
.pop-up {
    display: none;
}
.pop-up:target {
    display: block;
}
*/


/* Social Media styles */
.iconset {
    padding: 0px;
    display: inline-block;
}

.iconset i {
    font-size: 1.5em;
    color:#6D6E71;
}

.iconset:hover,
.iconset:active,
.iconset:focus{
    color: #C86C61;
    -webkit-transition: all 100ms ease-in-out; 
    transition: all 300ms ease-in-out;
}

.iconset i:hover,
.iconset i:active,
.iconset i:focus{
    color: #C86C61;
    -webkit-transition: all 100ms ease-in-out; 
    transition: all 300ms ease-in-out;
}
    
    
.icons {
    color: #111820;
    text-decoration: none;
    margin-top: .3em;
    margin-left:.25em;
    margin-right:.25em;
    margin-bottom: .1em;
    display: inline-block;
    height:60px;
    width: 60px;
    border-radius: 100%;
    background-color: none;
}
    
    
.email {
    font-size: 1em;
    text-decoration: none;
    color:#6D6E71;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.email:hover {
    color: white;
    background-color: #C86C61;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 100px;
}

.link {
    font-size: 1em;
    text-decoration: none;
    font-weight: bolder;
    color:black;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.link:hover {
    color: #B8CED0;
}

.cb-footer {
    padding-top: 1em;
    color: #111820; 
    box-shadow: 10px 5px 8px 5px rgba(128,128,128, .4);
    background-color:rgba(219, 217, 214, .25);
}

/* PROJECT STYLES */


.p-ee-img {
    height: 20em;
    background-color: #58595B; 
    background-position: bottom center;
    background-size: 2em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;   
}

.p-main-img {
    height: 20em;
    background-color: #58595B; 
    background-position: bottom center;
    background-size: 2em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.p-text-blurb {
    padding: 0em 1.3em 3em 1.3em;
}

.p-overview {
    color: rgba(8, 38, 44, 1);
    background-color:#B8CED0;
    padding: 2em;
    margin: 0;
}

.p-title{
    padding-bottom: .2em;
}

.p-sub{
    font-size: .9em;
    line-height: 2em;
    color: black;
    font-weight: 100;
    opacity: .4;
}

.p-sub-rev{
    font-size: .9em;
    line-height: 2em;
    color: white;
    font-weight: 100;
    opacity: .4;
}


/* Project Nav */

.p-nav-bar {
    background-color:rgba(219, 217, 214, 0.25);
  box-shadow:0px 0px 5px 0px rgba(128,128,128, .4);
    height: 70px;  

}

.close svg {
    height: 58px;
    width: 135px;
    color:#6D6E71;
    position: absolute;
    top: 4px;
    left: calc(50% - 67.5px);
    opacity: .6;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.close:hover svg {
    fill:#C86C61;  
    opacity: 1;
}

.previous {
    height: 50px;
    position: absolute;
    top: 6px;
    left: calc(5% - 10px);
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.textDecoNone {
    text-decoration: none;
}

.arrow2 {
    text-decoration: none;
    color:#6D6E71;
    font-size: 2em;
    padding-bottom:45px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 100%;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    border-radius: 100%;  
}


.arrow2:hover,
.arrow2:active,
.arrow2:focus {
    color: #C86C61;
}


.arrow3 {
    text-decoration: none;
    color:#6D6E71;
    font-size: 2em;
    padding-bottom:45px;
    padding-right: 15px;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 100%;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    border-radius: 100%;  
}


.arrow3:hover,
.arrow3:active,
.arrow3:focus {
    color: #C86C61;
}

.next {
    height: 50px;
    position: absolute;
    top: 6px;
    right: calc(5% - 10px);
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}


/* PROJECT STYLES END */


/*test*/

/*before small but not quite extra small, only here so that the e-mail doesn’t make an ugly white bar on unrealistically tiny screens*/@media only screen and (min-width: 22em) {

.email {
    font-size: 1em;
    
}
    
.social {
    width:80px;
    padding: 0 1em 0 1em;
    text-align: center;
    display: inline-block;
}
}
      
/*small*/@media only screen and (min-width: 25em) {
.p-nav-bar {
    background-size: 35%;
}     
    
.cb-footer {
    background-size: 35%;
}  
    
.fourofourblurb {
    background-size: 200%;
    padding: 12em 6em;
}
    
.bio {
    background-color: #B8CED0;
    padding: 5em 2em;
    height:19em;
    color: black;
}
}
    
/*medium*/@media only screen and (min-width: 40em) {        
    
.p-s-colour{
    background-color: #1b222a;
    color: white;
}  
    

.p-s-colour p{
    color: white;
    opacity: .7;
}  
  
    
.p-nav-bar {
    background-size: 30%;
}    
    
.cb-footer {
    background-size: 30%;
}     
    
.fourofourblurb {
    background-size: 120%;
    padding: 10em 6em;
}    
    
.banner {
    height: 30em;
    background-size: 22%;
    }
        
    
.wordmark {
    width: 45%;
    margin: 4em 0em 0em 0em;
}  
    
.only-sm {
    display: none;  
} 
    
.only-m-l {
    display: block;  
} 
    
.bio-img {
    background-image: url(../artwork/notch.svg), url(../artwork/photo2.jpg);
    background-size: 1em, 190%;
    margin: 0;
    padding: 0;
    background-position: center left, center left;
    background-repeat: no-repeat;
}     
    
.p-text-blurb {
    padding: 2em 1.13em 2em 0em;
}

.bio {
    background-color: #B8CED0;
    padding: 4em 2em;
    height:22em;
}    
    
}

/*large former 68*/@media only screen and (min-width: 60em) {
    
    .island-l {
  padding: 1.3rem;
}
    
.intro {
    padding: 4em;
}   

.p-nav-bar {
    background-size: 15%;
}       
    
.cb-footer {
    background-size: 15%;
}     
       
    
.banner {
    height: 34em;
    background-size: 15%;
    }    
    
.wordmark {
    width: 30%;
}
    
 .about {
    padding: 10em 2em;
}
    
.p-text-blurb {
    padding: 0em 1.3em 3em 1.3em;
}
    
.bio {
    background-color: #B8CED0;
    padding: 5em 5em;
    height:22em;
}
    
.p-pad {
    padding-top: 2em;
}

.p-main-img {
    height: 30em;
}    

.p-overview {
    padding: 2em 4em 2em 4em;
}    
 
}
    
/*xlarge*/@media only screen and (min-width: 90em) { 
.island-l {
  padding: 2.5rem;
}    
    
    .p-overview {
    padding: 2em 10em 2em 10em;
    }
    .banner {
        height: 34em;
    }
}


/*x.5large*/@media only screen and (min-width: 75em){
    .p-s-colour-pad{
        padding-top: 8em;
    }
    
}

/*xxlarge*/@media only screen and (min-width: 100em) { 
    .p-overview {
    padding: 2em 10em 2em 10em;
    }
    .banner {
        height: 40em;
    }
}

/*
Brand Colours
grey: #DBD9D6
*/