<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <link href="{{site.baseurl}}/artwork/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://use.typekit.net/rjo6puc.js" onload="try{Typekit.load({ async: true });}catch(e){}" async></script>

<!-- Facebook Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Valerie Bordeleau Graphic Design · Ottawa, ON ">
  <meta property="og:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/sample-image-to-fill-in-later.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="The Portfolio of Valerie Bordeleau Graphic Design · Ottawa, ON">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Hey there, creating universally accessible media for all is what drives me. I am an Ottawa-based Graphic Designer who focuses on illustration, motion, and UX. Stick around if you'd like to check out my portfolio.">

<!-- Twitter Card -->     
    <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Valerie Bordeleau Graphic Design · Ottawa, ON">
  <meta name="twitter:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/project-1">
  <meta name="twitter:description" content="Hey there, creating universally accessible media for all is what drives me. I am an Ottawa-based Graphic Designer who focuses on illustration, motion, and UX. Stick around if you'd like to check out my portfolio.">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image-sample-to-fill-later.jpg">    
 
<!-- Search Engine Stuff -->     
    
<title>Valerie Bordeleau Graphic Design · Ottawa, ON </title>
<meta name="description" content="Hey there, creating universally accessible media for all is what drives me. I am an Ottawa-based Graphic Designer who focuses on illustration, motion, and UX. Stick around if you'd like to check out my portfolio.">

</head>
      
<body>
    
<header>
    
    <!-- Accessibility feature -->       
    <ul class="skip-links">
        <li><a href="#nav">Skip To Navigation</a></li>
        <li><a href="#intro">Skip To Introduction</a></li>
        <li><a href="#main">Skip To Main Content</a></li>         <li><a href="#contact">Skip To Contact Info</a></li>
    </ul>    
  
<!-- Toggle, Top Nav, Role of Nav is on bottom nav-->  
<div class="only-sm">
    <div class="nav-bar-s push-0">
            <div class="list-group push-0">
                <input type="checkbox" class="toggle-check" id="toggle-check">
                <label for="toggle-check" class="toggle-label toggle"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" height="30px" viewBox="-24 26 40 20">
  <path d="M14.5 29h-36.9c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h36.9c.8 0 1.5.7 1.5 1.5s-.8 1.5-1.5 1.5zm0 17h-36.9c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h36.9c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5zm-.1-8.5h-36.9c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h36.9c.8 0 1.5.7 1.5 1.5s-.6 1.5-1.5 1.5z"/>
</svg>
</label>
                    <ul class="pad-top text-center toggle-menu">
                        <li class="list-group__item list-group__item "><a href="#intro" class="nav-t2-item">Introduction</a></li>
                        <li class="list-group__item list-group__item "><a href="#portfolio" class="nav-t2-item">Portfolio</a></li>
                        <li class="list-group__item list-group__item "><a href="#contact" class="nav-t2-item">Contact</a></li>
                </ul>
        </div><!-- list group --> 
    </div><!-- navbar -->
</div><!-- only-sm -->
    
<!-- No Toggle, Top Nav, Role of Nav is on bottom nav-->    
    <div class="only-m-l">
        <div class="nav-bar">
            <div class="list-group text-right">
                    <ul class="gutter pad-top push-0 js-smooth-scroll">
                        <li class="list-group__item list-group__item--inline gutter-half"><a href="#intro" class="nav-t-item">Introduction</a></li>
                        <li class="list-group__item list-group__item--inline gutter-half"><a href="#portfolio" class="nav-t-item">Portfolio</a></li>
                        <li class="list-group__item list-group__item--inline gutter-half"><a href="#contact" class="nav-t-item">Contact</a></li>
                    </ul>
            </div><!-- list group --> 
        </div><!-- nav bar --> 
</div><!-- m/l -->
        
</header>

{{content}}
    
    
<!--Footer = contact info, secondary nav-->   
    <footer itemscope itemtype="https://schema.org/Person">
        
        <div class="cb-footer">
            <h2 class="text-center push-half pad-top-double" id="contact">Let's Connect</h2>
                <h3 class="push-0 text-center mega" itemprop="name">Valerie Bordeleau</h3>
                <p class="text-center"><a href="mailto:heythere@valeriebordeleau.ca" class="email" itemprop="email">heythere@valeriebordeleau.ca</a></p>
                
                <div class="text-center">
                    <div class="social gutter">
                        <a href="https://www.behance.net/veebordeleau" rel="My Behance Account"> 
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-298.2 372.2 50 50">
  <path d="M-253.2 385.7h-13v-3.2h13v3.2zm-20 13.2c1 1 1.4 2.3 1.4 4.2s-.5 3.7-1.4 5c-.6 1-1.4 2-2.2 2.6-1 1-2.2 1.3-3.7 1.6s-3 .4-5 .4h-14.7v-32h15.6c4 0 6.7 1.5 8.4 3.7 1 1.4 1.4 3 1.4 5 0 1.8-.6 3.4-1.5 4.7-.5.6-1.4 1.3-2.4 2 1.4.4 2.7 1.3 3.5 2.6zm-17.6-5.7h6.8c1.4 0 2.5-.3 3.3-.8s1.3-1.5 1.3-3c0-1.4-.6-2.5-1.8-3-1-.3-2.2-.5-3.8-.5h-6v7.3h.2zm12 9.4c0-1.8-.5-3-2-3.5-.8-.3-2-.5-3.2-.5h-7v8.8h6.8c1.4 0 2.5-.2 3.3-.6 2-.6 2.8-2 2.8-4zm30.4-5c.2 1 .2 2.3.2 4.4h-17c.3 2.5 1 4 2.5 5 1 .6 2 .8 3.3.8 1.4 0 2.5-.3 3.3-1 0-.4 1-1 1-1.7h6c0 1.5-1 2.8-2 4-2 2.4-5 3.5-9 3.5-3 0-5.7-1-8-3-2.5-2-3.6-5-3.6-9s1-7 3.2-9.5c2-2 5-3.2 8-3.2 2 0 4 .4 5.5 1 1.7 1 3 2 4 3.7s1.8 3 2 5zm-6 .4c-.3-1.5-.7-3-1.7-3.6-1-1-2.8-1.4-4-1.4-1.7 0-2.8.6-3.8 1.4-.8 1-1.4 2-1.6 3.4h10.4v.4z" class="st1"/>
</svg>
                    </a>
                </div><!-- unit -->

                <div class="social gutter">
                    <a href="https://instagram.com/veebordeleau/" rel="My Instagram Account"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-538.3 372.3 50 50">
  <path d="M-531.7 372.3h37.1c3.4 0 6.2 2.6 6.2 6.4v37.2c0 3.8-2.9 6.4-6.4 6.4h-37.1c-3.6 0-6.4-2.6-6.4-6.3v-37.3c0-3.7 2.9-6.3 6.4-6.3h.2zm29.9 5.5c-1.4 0-2.4 1-2.4 2.3v5.4c0 1.2 1 2.3 2.3 2.3h5.6c1.2 0 2.2-1 2.2-2.3v-5.4c0-1.2-1-2.3-2.2-2.3h-5.6.1zm7.8 15.6h-4.4c.4 1.3.6 2.8.6 4.3 0 8.3-7 15-15.6 15-8.5 0-15.5-6.7-15.5-15 0-1.5.3-2.9.7-4.3h-4.6v21c0 1.1.9 2 2 2h34.7c1 0 2-.9 2-2v-21zm-19.3-6c-5.5 0-10 4.5-10 9.7s4.6 9.7 10.1 9.7 10-4.2 10-9.7c0-5.5-4.5-9.7-10.1-9.7z" class="st1"/>
</svg>

                    </a>
                </div><!-- unit -->

                <div class="social gutter">
                    <a href="https://twitter.com/veebordeleau" rel="My Twitter"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-280 372 50 50">
  <path d="M-230.2 381.5c-1.8.8-3.8 1.4-5.8 1.6 2.1-1.3 3.7-3.2 4.5-5.6-2 1.2-4.1 2-6.5 2.5-1.9-2-4.5-3.2-7.4-3.2-5.6 0-10.2 4.5-10.2 10.2 0 .8.1 1.6.3 2.3-8.4-.4-15.9-4.5-20.9-10.6-.9 1.5-1.4 3.2-1.4 5.1 0 3.5 1.8 6.6 4.5 8.5-1.7-.1-3.2-.5-4.6-1.3v.1c0 4.9 3.5 9 8.1 10-.9.2-1.7.4-2.7.4-.7 0-1.3-.1-1.9-.2 1.3 4 5 7 9.5 7.1-3.5 2.7-7.9 4.3-12.6 4.3-.8 0-1.6 0-2.4-.1 4.5 2.9 9.8 4.6 15.6 4.6 18.7 0 28.9-15.5 28.9-28.9V387c1.8-1.7 3.6-3.5 5-5.5z" class="st1"/>
                    </svg>
                    </a>
                </div><!-- unit -->

                <div class="social gutter">
                    <a href="https://www.flickr.com/photos/133866932@N04" rel="My Flickr Account"> 
                        <svg version="1.1" id="Flickr2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-280 372 50 50" style="enable-background:new -280 372 50 50;" xml:space="preserve">
<path d="M-232.7,374.8c-1.8-1.8-4-2.7-6.6-2.7h-31.3c-2.6,0-4.8,0.9-6.6,2.7c-1.8,1.9-2.7,4.1-2.7,6.6v31.2c0,2.6,0.9,4.8,2.7,6.6
	c1.8,1.8,4.1,2.7,6.6,2.7h31.2c2.6,0,4.8-0.9,6.6-2.7c1.8-1.8,2.7-4,2.7-6.6v-31.3C-230,378.8-230.9,376.6-232.7,374.8L-232.7,374.8
	z M-259.2,401.9c-1.3,1.4-3,2-4.9,2c-1.9,0-3.5-0.7-4.9-2c-1.3-1.3-2-3-2-4.8c0-1.9,0.7-3.5,2-4.9c1.3-1.3,3-2,4.9-2
	c1.9,0,3.5,0.7,4.9,2c1.3,1.3,2,3,2,4.9C-257.3,399-257.9,400.6-259.2,401.9L-259.2,401.9z M-240.9,401.9c-1.3,1.4-3,2-4.9,2
	s-3.5-0.7-4.9-2c-1.3-1.3-2-3-2-4.8c0-1.9,0.7-3.5,2-4.9c1.3-1.3,3-2,4.9-2s3.5,0.7,4.9,2c1.3,1.3,2,3,2,4.9
	S-239.6,400.6-240.9,401.9L-240.9,401.9z" class="st1"/>
</svg>
                    </a>    
                </div><!-- unit -->
            </div><!-- text center -->
            
                <nav id="nav" role="navigation">
                    <ul class="gutter pad-top-double text-center js-smooth-scroll">
                <li class="list-group__item list-group__item--inline gutter-half"><a href="#intro" class="nav-t-item">Introduction</a></li>
                <li class="list-group__item list-group__item--inline gutter-half"><a href="#portfolio" class="nav-t-item">Portfolio</a></li>
                <li class="list-group__item list-group__item--inline gutter-half"><a href="#top" class="nav-t-item">Back to Top</a></li>
                    </ul>
                </nav>
            <p class="island push-0" role="contentinfo"><small class="micro copyrights">© Valerie Bordeleau 2015</small></p>
            
        </footer>
    </div><!-- footer colour block -->

    
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
    </body>
</html>